blockquote {
    border-left: 10px solid #e9ecef;
    border-radius: 0px;
    background: #fafafa;
    padding: 10px 20px;
}
     
blockquote p {
    margin: 0;
    line-height: 30px;
}

body {
    padding-top: 70px;
}

footer {
    margin-top: 1em;
    background-color: #e9ecef;
}

hr {
    margin-top: 0em;
    margin-bottom: 0em;
}

.separator {
    margin-top: 1rem;
}

.summary {
    font-style: italic;
    margin-top: 1rem;
}

.datebrick {
    white-space: nowrap;
}

h1 a {
    color: black;
}

h2 {
    margin-top: 1em;
}

/* add rounded eges for code highlighter  */
pre code, pre div {
    border-radius: .25rem!important;
}
